{% set baseUrl = app.request.baseUrl %}
{%
set lookups = lookupGetter.rows({
    'address': null,
    'tel': null,
    'icp': null,
    'site.name': null,
    'meta.keywords': null,
    'meta.description': null,
})
%}
{% set pageKeywords = lookups['meta.keywords'] %}
{% set pageDescription = lookups['meta.description'] %}
<!DOCTYPE html>
<html lang="{{ app.language }}">
    <head>
        <meta charset="{{ app.charset }}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ html.csrfMetaTags | raw }}
        {% block stylesheets %}
            <link rel="Stylesheet" type="text/css" href="{{ baseUrl }}/css/application.css" />
            <!--[if lt IE 8]><link rel="stylesheet" href="{{ baseUrl }}/css/ie.css" type="text/css" media="screen, projection"><![endif]-->
        {% endblock %}
        <title>{% if pageTitle is defined %}{{ pageTitle }}_{% endif %}{{ lookups['site.name'] }}</title>
        <meta name="description" content="{% if pageDescription is defined %}{{ pageDescription }}{% endif %}" />
        <meta name="keywords"  content="{% if pageKeywords is defined %}{{ pageKeywords }}{% endif %}" />
    </head>
    <body>
        <div id="page">
            {% include '@app/views/blocks/header.twig' %}
            <div id="page-bd">
                <div id="slides"></div>
                {% block content %}
                {% endblock %}
            </div>
            {% include '@app/views/blocks/footer.twig' %}
        </div>
        <script type="text/javascript" src="{{ staticUrl }}/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="{{ staticUrl }}/js/doT.min.js"></script>
        <script type="text/javascript" src="{{ staticUrl }}/js/application.js"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
