{% set nodeValue = app.request.get('node') %}
<div class="widget-site-navigation">
    <div class="hd">站点导航</div>
    <div class="bd">
        <div class="item">
            <p>工商代办</p>
            {% set items = nodeGetter.children(2) %}
            <ul class="clearfix">
                {% for item in items %}
                    {% set cssClass = loop.index % 3 == 0 ? 'last' : '' %}
                    {% if nodeValue == item.id %}
                        {% if cssClass is not empty %}
                            {% set cssClass = cssClass ~ ' active' %}
                        {% else %}
                            {% set cssClass = 'active' %}
                        {% endif %}
                    {% endif %}
                    <li{{ cssClass is not empty ? (' class="' ~ cssClass ~ '"') | raw : '' }}><a href="{{ url('news/index', {'node': item.id}) }}" title="{{ item.name }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="item">
            <p>会计服务</p>
            {% set items = nodeGetter.children(3) %}
            <ul class="clearfix">
                {% for item in items %}
                    {% set cssClass = loop.index % 3 == 0 ? 'last' : '' %}
                    {% if nodeValue == item.id %}
                        {% if cssClass is not empty %}
                            {% set cssClass = cssClass ~ ' active' %}
                        {% else %}
                            {% set cssClass = 'active' %}
                        {% endif %}
                    {% endif %}
                    <li{{ cssClass is not empty ? (' class="' ~ cssClass ~ '"') | raw : '' }}><a href="{{ url('news/index', {'node': item.id}) }}" title="{{ item.name }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="item">
            <p>社保、公积金代理</p>
            {% set items = nodeGetter.children(4) %}
            <ul class="clearfix">
                {% for item in items %}
                    {% set cssClass = loop.index % 3 == 0 ? 'last' : '' %}
                    {% if nodeValue == item.id %}
                        {% if cssClass is not empty %}
                            {% set cssClass = cssClass ~ ' active' %}
                        {% else %}
                            {% set cssClass = 'active' %}
                        {% endif %}
                    {% endif %}
                    <li{{ cssClass is not empty ? (' class="' ~ cssClass ~ '"') | raw : '' }}><a href="{{ url('news/index', {'node': item.id}) }}" title="{{ item.name }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </div>        
    </div>
</div>

<div class="widget-common">
    <div class="hd">热门内容</div>
    <div class="bd">
        {% set items = archiveGetter.rows('id,node_id,title', {}, 'clicks_count.desc', 0, 10) %}
        <ul class="data-list">
            {% for item in items %}
                <li><a href="{{ url('news/view', {'node': item.node_id, 'id': item.id}) }}" target="_blank" title="{{ item.title }}">{{ item.title }}</a></li>
                {% endfor %}
        </ul>
    </div>
</div>