{% extends "@app/views/layouts/main.twig" %}

{% set node = app.request.get('node') | abs %}
{% set currentNodeName = nodeGetter.name(node) %}

{% set pageTitle = currentNodeName %}
{% set pageKeywords = data.keywords %}
{% set pageDescription = data.description %}

{% block content %}

    {% set rawData = archiveGetter.all('id,node_id,title,description,published_datetime', {'node': app.request.get('node')}, 'id.desc', app.request.get('page', 1), 10) %}
    {% if (rawData.items | length) %}
        <ul class="data-list clearfix">
            {% for item in rawData.items %}
                <li><span>{{ item.published_datetime | date('Y-m-d') }}</span><a href="{{ url('news/view', {'node': item.node_id, 'id': item.id}) }}" target="_blank" title="{{ item.title }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
        <div class="pagination-toolbar">
            {{ applicationHelper.pagination(rawData._meta) | raw }}
        </div>
    {% else %}
        <div class="notice">尚未更新。</div>
    {% endif %}
{% endblock %}